#homeContainer {
  /* Mouse hover transition - To scroll the arrow */
  /*#linkAbout:hover .icon{
		
		animation: iconScrollArrowUp 1s linear infinite;
	}*/
  /* Animation */
}

#homeContainer .main-link {
  position: absolute;
  text-align: center;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.7s ease-in;
}

#homeContainer .title-paragraph {
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}

#homeContainer #linkAbout {
  top: 10px;
  /*left: 30px;*/
  left: 10px;
}

#homeContainer #linkGallery {
  /*top: 30px;*/
  top: 70px;
  right: 10px;
  display: flex;
  align-items: center;
}

#homeContainer #linkBlog {
  bottom: 10px;
  /*right: 30px;*/
  right: 10px;
}

#homeContainer #linkPortfolio {
  /*bottom: 30px;*/
  bottom: 70px;
  left: 10px;
  display: flex;
  align-items: center;
}

#homeContainer .content {
  font-size: 20px;
  display: block;
}

#homeContainer #linkAbout .icon {
  /*float: left;*/
}

#homeContainer #linkPortfolio .content,
#homeContainer #linkGallery .content {
  margin: 5px 10px 0 10px;
}

#homeContainer #page-title {
  max-width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -60px 0px 0 -20%;
}

#homeContainer #page-title .license-info,
#homeContainer #page-title .name {
  /*margin: 0 0 0 40px;*/
}

#homeContainer #page-title .name {
  font-size: 25px;
  line-height: 1;
}

#homeContainer #page-title .license-info {
  font-size: 15px;
  display: none;
  font-family: 'Source Serif Pro', sans-serif;
}

#homeContainer #page-title .code-comment {
  font-size: 30px;
  color: green;
  position: absolute;
  font-family: 'Fjalla One', sans-serif;
  opacity: 0;
}

#homeContainer #page-title .comment-position-visual-basic {
  left: -11px;
  top: 22px;
  line-height: 1;
}

#homeContainer #page-title .comment-position-javascript {
  left: -20px;
  top: -35px;
  line-height: 3;
}

#homeContainer #page-title .show-comment-animated {
  animation: commentShow 1s ease-out 0.1s;
  opacity: 1;
}

@media screen and (min-width: 200px) and (max-width: 699px) {
  #homeContainer #linkGallery {
    top: 30px;
    right: 10px;
  }

  #homeContainer #linkPortfolio {
    bottom: 30px;
    left: 10px;
  }
}

@media screen and (min-width: 400px) and (max-width: 699px) {
  #homeContainer #page-title {
    margin: -110px 0 0 -25.5%;
  }

  #homeContainer .icon {
    font-size: 35px;
  }
}

@media screen and (min-width: 700px) {
  #homeContainer #page-title {
    margin: -100px 0 0 -25.5%;
  }

  #homeContainer .icon {
    font-size: 50px;
  }

  #homeContainer #linkAbout {
    top: 20px;
    left: 50px;
  }

  #homeContainer #linkGallery {
    top: 50px;
    right: 20px;
  }

  #homeContainer #linkBlog {
    bottom: 20px;
    right: 50px;
  }

  #homeContainer #linkPortfolio {
    bottom: 50px;
    left: 20px;
  }
}

@media screen and (min-width: 400px) {
  #homeContainer #page-title .name {
    font-size: 75px;
    margin: 0px;
  }

  #homeContainer #page-title .license-info {
    display: block;
  }

  #homeContainer #page-title .code-comment {
    font-size: 75px;
    left: -25px;
    top: 5px;
  }

  #homeContainer #page-title .comment-position-javascript {
    left: -70px;
    top: -145px;
    line-height: 3;
  }
}

@keyframes commentShow {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 0.9;
  }

  10% {
    opacity: 0.1;
  }

  20% {
    opacity: 0.8;
  }

  30% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

#homeContainer .home-fade-to-white {
  opacity: 0.3;
  transition: opacity 0.9s ease-out;
}

#homeContainer .white-gradient {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(left, #ffffff 1%, #ffffff 25%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ffffff 1%, #ffffff 25%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ffffff 1%, #ffffff 25%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
}

#homeContainer #animatedBGContainer {
  /*border: 1px solid black;*/
  position: absolute;
  z-index: -2;
  top: 0;
  right: 0;
  width: 75%;
  height: 100%;
  opacity: 0.9;
}

#homeContainer .icon {
  font-size: 15px;
}

@media screen and (min-width: 400px) and (max-width: 699px) {
  #homeContainer .icon {
    font-size: 35px;
  }
}

@media screen and (min-width: 700px) {
  #homeContainer .icon {
    font-size: 50px;
  }
}

/* Space between top and header (only Landscape)*/

.about-bg {
  background-color: #0a150e;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.header {
  position: fixed;
  width: 100%;
  height: 90px;
  padding: 10px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  margin: 0;
  z-index: 2;
}

.header .link-home,
.header .link-portfolio,
.header .link-blog,
.header .link-gallery {
  list-style: none;
  position: absolute;
  margin: 0 10px 0 0;
  font-size: 30px;
}

.header .link-home .fa,
.header .link-portfolio .fa,
.header .link-blog .fa,
.header .link-gallery .fa {
  margin: 0 10px 0 0;
}

.header .link-home .title-paragraph,
.header .link-portfolio .title-paragraph,
.header .link-blog .title-paragraph,
.header .link-gallery .title-paragraph {
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  font-size: 15px;
}

.header .link-home {
  top: 10px;
  left: 10px;
}

.header .link-portfolio {
  bottom: 10px;
  left: 10px;
}

.header .link-blog {
  bottom: 10px;
  right: 20px;
}

.header .link-gallery {
  top: 10px;
  right: 20px;
}

.top-history {
  position: relative;
  margin: 175px 0 0 0;
}

.top-history .main-title,
.top-history .intro-history {
  color: white;
}

.top-history .main-title {
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  font-weight: 500;
  letter-spacing: -3px;
}

.top-history .main-title::first-letter {
  font-size: 110px;
}

.top-history .intro-history {
  max-width: 60%;
  margin: 0 auto;
  padding: 0 0 0 65px;
  font-family: 'Source Serif Pro', sans-serif;
  font-style: italic;
}

.top-history .intro-history:before {
  font-size: 55px;
  content: '"';
  line-height: 3px;
}

.start-scroll {
  width: 100%;
  position: fixed;
  bottom: 20px;
  left: 0;
  text-align: center;
  color: white;
  font-size: 70px;
  animation: scrollDownPopUp 2s ease infinite 0.1s;
}

/* Scroll down button animation */

@keyframes scrollDownPopUp {
  0% {
    transform: translate(0px, 0px);
    opacity: 0.7;
  }

  25% {
    transform: translate(0px, 15px);
    opacity: 1;
  }

  100% {
    transform: translate(0px, 0px);
    opacity: 0.7;
  }
}

@media screen and (min-width: 475px) {
  .header {
    height: auto;
    width: 98%;
    padding: 15px;
  }

  .header .link-home,
  .header .link-portfolio,
  .header .link-blog,
  .header .link-gallery {
    position: relative;
    float: right;
  }

  .header .link-home {
    top: initial;
    left: initial;
    float: left;
  }

  .header .link-portfolio {
    bottom: initial;
    left: initial;
  }

  .header .link-blog {
    bottom: initial;
    right: initial;
  }

  .header .link-gallery {
    top: initial;
    right: initial;
  }
}

@media screen and (orientation: landscape) {
  .header {
    position: fixed;
    top: 115px;
    left: 0;
    width: 65px;
  }

  .header .link-home,
  .header .link-portfolio,
  .header .link-blog,
  .header .link-gallery {
    float: none;
    width: 100%;
    text-align: center;
    margin: 0 0 10px 0;
  }

  .header .link-home .fa,
  .header .link-portfolio .fa,
  .header .link-blog .fa,
  .header .link-gallery .fa {
    width: 100%;
    line-height: 50px;
    margin: 0;
  }

  .header .link-home {
    margin: 0 0 35px 0;
  }

  .top-history {
    margin: 115px 0 0 0;
  }
}

body {
  margin: 0;
  overflow: hidden;
}

.icon {
  line-height: 0px;
  display: inline-block;
  color: black;
  text-decoration: none;
}