.main-link{
	position: absolute;
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
	color: black;
	text-decoration: none;
	text-align: center;
}

#link-about{
	top: 10px;
	left: 30px;
}

#link-gallery{
	top: 30px;
	right: 10px;
	display: flex;
	align-items: center;
}

#link-blog{
	bottom: 10px;
	right: 30px;
}

#link-portfolio{
	bottom: 30px;
	left: 10px;
	display: flex;
	align-items: center;
}

.icone{
	font-size: 75px;
	line-height: 0px;
}

body{
	margin: 0;
}

.conteudo{
	font-size: 20px;
	display: block;
}

#link-about .icone{
	float: left;
}

#link-portfolio .conteudo,
#link-gallery .conteudo{
	margin: 8px 5px 0 5px;
}
