div(my-header)
	
.page-content

	
	// *** Featured post ***
	.post.featured
		img.background

		.post-content
			span.category
			h3.title
			p.excerpt



	// *** Sub-featured posts ***
	.post.sub-featured
		img.background

		.post-content
			span.category
			h3.title
			p.excerpt

	.post.sub-featured
		img.background

		.post-content
			span.category
			h3.title
			p.excerpt



	// Commons posts





	

			

	


div(my-footer)