div(my-header)
	
.page-content

	
	// *** Featured post ***
	.post.featured
		img.background(ng-src='{{featured.mainImage}}')

		.post-content
			span.category
				|TEste - {{featured.category}}
			h3.title
				|{{featured.title}}
			p.excerpt
				|{{featured.excerpt}}



	// *** Sub-featured posts ***
	.post.sub-featured
		img.background

		.post-content
			span.category
			h3.title
			p.excerpt

	.post.sub-featured
		img.background

		.post-content
			span.category
			h3.title
			p.excerpt



	// Commons posts





	

			

	


div(my-footer)