@rightContentWidth: 45%; /* Title, exceprtp*/
@insertTextColor: hsl(123, 41%, 89%);
@outsideTextColor: hsl(100, 57%, 20%);

.post{
	position: relative;
	width: 100%;
	margin: 0 0 15px 0;
	height: 175px;
	border-bottom: 1px dotted hsla(100, 100%, 27%, 0.42);

	.post-background{
		width: 45%;
		height: 100%;
		background-size: contain;
		background-repeat: no-repeat;
		float: left;
	}

	.category{
		color: @insertTextColor;
		position: absolute;
		left: 0px;
		top: 10px;
		padding: 3px 15px 3px 25px;
		background-color: hsla(100, 0%, 0%, 0.5);
		font-family: @fontFamily_Titles;
		font-size: 80%;
	}

	.title{
    	width: @rightContentWidth;
    	text-align: left;
    	font-family: @fontFamily_Titles;
		font-size: 70%;
		padding: 0 15px 25px 0;
		float: right;
		margin: 0;
		color: @outsideTextColor;
    }

    .date{
    	margin: 0;
    	text-align: right;
    	color: hsl(100, 40%, 35%);
    	font-size: 55%;
    	padding: 0 15px 0 0;
    	float: right;
    	width: @rightContentWidth;

    }

    .excerpt{
    	font-size: 57%;
    	color: @outsideTextColor;
    	padding: 0 30px 0 0;
    	text-align: left;
    	width: @rightContentWidth;
    	float: right;
    	margin: 0;
    	text-indent: 25px;
    }

    .post-list{
    	position: relative;
    }
}


.featured{
	height: 300px;

	.post-background{
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		box-shadow: inset 0px 0px 300px 60px;
		z-index: -1;
		background-size: cover;
	}

	.category{
		color: @insertTextColor;
		position: absolute;
		left: 0px;
		top: 10px;
		padding: 3px 15px 3px 25px;
		background-color: hsla(100, 0%, 0%, 0.5);
		font-family: @fontFamily_Titles;
		font-size: 80%;
	}

	.title{
		position: absolute;
    	right: 0px;
    	bottom: 50%;
    	width: 65%;
    	color: @insertTextColor;
    	text-align: right;
    	font-family: @fontFamily_Titles;
		font-size: 140%;
		padding: 0 15px 0 0;
    }

    .excerpt{
    	position: absolute;
    	right: 0px;
    	bottom: 20px;
    	font-size: 77%;
    	color: @insertTextColor;
    	padding: 0 30px 30px 0;
    	text-align: right;
    	width: 80%;

    }

}



@media screen and (orientation: landscape){

	.featured{
		height: 450px;
		width: 50%;
		position: absolute;
		top: 0;
		left: 110px;
		box-shadow: 0px 3px 1px 0px hsl(100, 55%, 11%);
		border: none;

		.post-background{
			background-position: center center;
		}

		.title{
			font-size: 170%;
		}
	}

	.sub-featureds{
		width: 32%;
		position: absolute;
		top: 40px;
		right: 0px;
		background-color: hsl(133, 100%, 88%);
		padding: 20px 0 0 20px;
		box-shadow: 0px 1px 1px 0px hsl(100, 55%, 11%);
		border: none;

		.sub-featured{
			height: 180px;
			position: relative;
			width: 100%;
			float: right;	
			border-bottom: none;


			.post-background{
				width: 100%;
				height: 100px;
			}

			.date{
				display: none;
			}

			.title{
				font-size: 100%;
				width: 100%;
				padding: 0;
			}
			.excerpt{
				width: 100%;
				padding: 0 0 0 10px;
			}
		}	
	}

	.post-list{
		margin: 430px 0 0 150px;
    	width: 69%;

    	.post{
    		.post-background{
    			margin: 0 15px 0 0 ;
    		}
    		.title{
    			width: 50%;
    			font-size: 80%;
    			padding: 0 0 15px 0;
    			text-align: left;
    			float: left;
    		}

    		.excerpt{
    			width: 50%;
    			padding: 0;
    			text-align: left;
    			float: left;
    		}
    	}
	}
	

}


@media screen and (min-width: 900px){

	.sub-featureds{
		width: 34%;
		position: absolute;
		top: 100px;
		right: 0px;

		.sub-featured{
			height: 150px;

			.post-background{
				width: 38%;
				height: 100px;
			}

			.category{
				font-size: 65%;
			}

			.title{
				width: 53%;
				padding: 0;
			}

			.excerpt{
				width: 53%;
				padding: 0;
			}
		}	
	}

	.post-list{
    	width: 80%;

    	.post{
    		width: 48%;
    		float: left;

    		&:nth-child(2n){
    			float: right;
    		}
    	}
	}
	

}