div(my-header)
	
.page-content

	
	// *** Featured post ***
	a(ui-sref='blogPost({postName: featured.postName})')
		.post.featured
			.post-background(bg-insert image-url="featured.mainImage")

			span.category
				|{{featured.category}}

			.post-text-area

				p.excerpt(put-html content='featured.excerpt')

				h3.title
					|{{featured.title}}
			


	// *** Sub-featured posts ***
	.sub-featureds
		a(ui-sref='blogPost({postName: subFeatured_1.postName})')
			.post.sub-featured
				.post-background(bg-insert image-url="subFeatured_1.mainImage")
			
				span.category
					|{{subFeatured_1.category}}

				.post-text-area
					p.date
						|{{subFeatured_1.createdDate}}
					h3.title
						|{{subFeatured_1.title}}
					p.excerpt(put-html content='subFeatured_1.excerpt')

		a(ui-sref='blogPost({postName: subFeatured_2.postName})')
			.post.sub-featured
				.post-background(bg-insert image-url="subFeatured_2.mainImage")

				span.category
					|{{subFeatured_2.category}}

					.post-text-area
						p.date
							|{{subFeatured_1.createdDate}}
						h3.title
							|{{subFeatured_2.title}}
						p.excerpt(put-html content='subFeatured_2.excerpt')


	// Other posts
	.post-list
		a(ui-sref='blogPost({postName: post.postName})')
			.post(ng-repeat="post in postList")
				.post-background(bg-insert image-url="post.mainImage")

				span.category
					|{{post.category}}

					.post-text-area
						p.date
							|{{post.createdDate}}
						h3.title
							|{{post.title}}
						p.excerpt(put-html content='post.excerpt')


	// Pagination
	pagination(total-pages="totalPages" pagination-function="postList")


div(my-footer)