div(my-header)
	
.page-content

	
	// *** Featured post ***
	.post.featured
		.post-background(bg-insert image-url="featured.mainImage")
		//img.background(ng-src='{{featured.mainImage}}')

		span.category
			|{{featured.category}}
		h3.title
			|{{featured.title}}
		p.excerpt(put-html content='featured.excerpt')



	// *** Sub-featured posts ***
	.post.sub-featured
		.post-background(bg-insert image-url="subFeatured_1.mainImage")
		//img.background(ng-src='{{subFeatured_1.mainImage}}')
	
		span.category
			|{{subFeatured_1.category}}
		h3.title
			|{{subFeatured_1.title}}
		p.excerpt(put-html content='subFeatured_1.excerpt')
		

	.post.sub-featured
		.post-background(bg-insert image-url="subFeatured_2.mainImage")
		//img.background(ng-src='{{subFeatured_2.mainImage}}')

		span.category
			|{{subFeatured_2.category}}
		h3.title
			|{{subFeatured_2.title}}
		p.excerpt(put-html content='subFeatured_2.excerpt')



	// Other posts
	.post-list
		.post(ng-repeat="post in postList")
			.post-background(bg-insert image-url="post.mainImage")
			//img.background(ng-src='{{post.mainImage}}')

			span.category
				|{{post.category}}
			h3.title
				|{{post.title}}
			p.excerpt(put-html content='post.excerpt')


div(my-footer)