div(my-header)

// The content
.blog-post(easy-scroll)

	.top-history(easy-scroll-top)

		img.featured-img(ng-src="{{post.mainImage}}")
		p.img-caption
			|{{post.imageCaption}}

		h1.title
			|{{post.title}}

		p.excerpt
			|{{post.excerpt}}


	.page-content(easy-scroll-content)
		p.content(put-html content='post.content')


a.scroll-link(href="" easy-scroll-content-link)
	i.fa.fa-angle-double-down


div(my-footer)