html
	head
		title Amós Batista
	body

		// Links
		a(class="main-link title-paragraph" id="linkAbout" href="#")
			span.icon
				i.fa.fa-arrow-up
			span.content
				|About

		a(class="main-link title-paragraph" id="link-gallery" href="#")
			span.content
				|Gallery
			span.icon
				i.fa.fa-arrow-right

		a.title-paragraph.main-link#link-blog(href="#")
			span.content
				|Blog
			span.icon
				i.fa.fa-arrow-down
				
			
		a.title-paragraph.main-link#link-portfolio(href="#")
			span.icon
				i.fa.fa-arrow-left
			span.content
				|Portfolio


		#page-title
			p.name.title-paragraph Amós Batista
			p.license-info Cada página deste site possui uma licença de distribuição específica. Favor verificar, antes de compartilhar seu conteúdo. Em caso de dúvidas, entre em contato.

			// Dinamic comment display
			//#codeCommentContainer.code-comment.comment-position-visual-basic
			//	|'
			//	br
			//	|'

			// Dinamic comment display
			#codeCommentContainer.code-comment.comment-position-javascript
				|/*
				br
				|*/


	link(href="https://fonts.googleapis.com/css?family=Source+Serif+Pro|Fjalla+One" rel="stylesheet")
	link(href="../style.css" rel="stylesheet")
	script(src="https://use.fontawesome.com/b3ecf99631.js")
	script(src="../script.js")