html
	head
		title Teste
		link(href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet")
		link(href="../style.css" rel="stylesheet")
	body
		a(class="main-link" id="link-about" href="#")
			|About
		a(class="main-link" id="link-gallery" href="#")
			|Gallery
		a.main-link#link-blog(href="#")
			|Blog
		a.main-link#link-portfolio(href="#")
			|Portfolio