.breadcrumb{

	font-family: @fontFamily_Default;
	margin: 100px 0 0 0;

	.item{
		color: hsl(100, 0%, 85%);
		list-style: none;
		margin: 0 20px 0 0;
		float: left;
	}

	.current{
		color: hsl(156, 40%, 55%);
		font-style: italic;
	}
}