div(my-header)
	
	.page-content
	
		ul.breadcrumb
			li.breadcrumb-item Home
			li.breadcrumb-current Portfólio

		.case-list
			.case
				img.case-image(src="")

				.case-detail
					h2.case-title
					p.case-type
					p.case-description


div(my-footer)