div(my-header)
	
.page-content

	ul.breadcrumb
		li.item Home
		li.item.current Portfólio

	.case-list
		.case
			img.case-image(src="img/logo.png")

			.case-detail
				h2.case-title 
					| Masterow
				p.case-type
					| Plug-in
				p.case-description
					| Uma ferramenta para criação de tabelas dinâmicas, para projetos em JavaScript.

		.case
			img.case-image(src="img/logo.png")

			.case-detail
				h2.case-title 
					| Masterow
				p.case-type
					| Plug-in
				p.case-description
					| Uma ferramenta para criação de tabelas dinâmicas, para projetos em JavaScript.

		.case
			img.case-image(src="img/logo.png")

			.case-detail
				h2.case-title 
					| Masterow
				p.case-type
					| Plug-in
				p.case-description
					| Uma ferramenta para criação de tabelas dinâmicas, para projetos em JavaScript.

		.case
			img.case-image(src="img/logo.png")

			.case-detail
				h2.case-title 
					| Masterow
				p.case-type
					| Plug-in
				p.case-description
					| Uma ferramenta para criação de tabelas dinâmicas, para projetos em JavaScript.


div(my-footer)