.page-content{
	width: 100%;
	padding: @headerHeight + 35 0 0 0;
	font-family: @fontFamily_Default;
	margin: 0 0 @footerHeight 0;
	float: left;


	.case-list{
		width: 90%;
		margin: 0 auto;

		.case{
			width: 100%;
			float: left;
			margin: 0 0 50px 0;

			.case-image{
				width: 100%;
    			max-width: 200px;
    			margin: 0 auto 10px auto;
    			display: block;
			}

			.case-detail{
				width: 100%;

				.case-title,
				.case-type,
				.case-description{
					margin: 0;
					text-align: center;
				}

				.case-title{
					text-transform: uppercase;
					font-size: 25px;
				}

				.case-type{
					color: hsl(100, 0%, 45%);
					font-size: 16px;
				}

				.case-description{
					font-size: 18px;
					color: hsl(100, 0%, 5%);
				}
			}
		}
	}

	.smallTabs{
		width: 100%;
		float: left;
	}
}



@media screen and (orientation: landscape){

	.page-content{
		padding: 50px 0 0 0;

		.case-list{
			width: 100%;
    		float: left;

    		.case{
				max-width: 35%;
				margin: 0 30px 30px 0px;

				&:nth-child(2n-1){
					margin: 0 30px 30px 22%;	
				}
    			
				.case-image{
					margin: 0 0 10px 0;
				}

				.case-detail{
					.case-title,
					.case-type,
					.case-description{
						text-align: left;
					}
				}
			}
		}
		.smallTabs{
			width: 75%;
			margin: 0 0 0 160px;
		}
	}
}
