div(my-header)
	
.page-content.portfolio-page

	ul.breadcrumb
		li.item 
			a(href="#!/") Home
		li.item.current Portfólio


	.case-list
		.case
			a(href="#!/portfolio/masterrow")
				img.case-image(src="img/logo.png")

				.case-detail
					h2.case-title 
						| Masterow
					p.case-type
						| Plug-in
					p.case-description
						| Uma ferramenta para criação de tabelas dinâmicas, para projetos em JavaScript.

		.case
			img.case-image(src="img/logo.png")

			.case-detail
				h2.case-title 
					| Angular-Masterrow
				p.case-type
					| Plug-in para AngularJS
				p.case-description
					| Complemento do Masterrow, para aproveitar os recursos do Angular.

		.case
			img.case-image(src="img/logo.png")

			.case-detail
				h2.case-title 
					| The Ghostships
				p.case-type
					| Website
				p.case-description
					| Uma nova maneira de ler história em quadrinhos na Internet.

		.case
			img.case-image(src="img/logo.png")

			.case-detail
				h2.case-title 
					| Site pessoal
				p.case-type
					| Website / Portfólio
				p.case-description
					| Conheça o processo de criação de meu próprio site pessoal.


div(my-footer)