a.main-link.title-paragraph(ng-attr-id="{{linkId}}" href="" ng-click="executeAction()")
	span.icon(ng-hide="linkName == 'gallery'")
		i.fa(ng-class="faIconName")
	span.content
		|{{linkName}}
	span.icon(ng-hide="linkName != 'gallery'")
		i.fa(ng-class="faIconName")