@-webkit-keyframes slideUp {

    from {
    	transform: translate(0%, 0%);
    }
    to {
    	transform: translate(0%, -100%);
    }
}

@-webkit-keyframes slideDown {

    from {
    	transform: translate(0%, 0%);
    }
    to {
    	transform: translate(0%, 100%);
    }
}

@-webkit-keyframes slideLeft {

    from {
    	transform: translate(0%, 0%);
    }
    to {
    	transform: translate(-100%, 0%);
    }
}

@-webkit-keyframes slideRight {

    from {
    	transform: translate(0%, 0%);
    }
    to {
    	transform: translate(100%, 0%);
    }
}



.slide-about {
    .mix-animation(slideUp);   
}

.slide-gallery {
    .mix-animation(slideRight);   
}

.slide-portfolio {
    .mix-animation(slideLeft);   
}

.slide-blog {
    .mix-animation(slideDown);   
}