#homeContainer
	// Links
	main-link(link-name="about", link-action="goToAboutPage()" link-caption="sobre")
	main-link(link-name="gallery" link-action="goToGallery()" link-caption="galeria")
	main-link(link-name="blog" link-action="goToBlog()" link-caption="blog")
	main-link(link-name="portfolio", link-action="goToPortfolio()" link-caption="portfolio")

	// Main title
	#page-title
		p.name.title-paragraph 
			|Amós 
			br
			|Batista
		p.license-info Cada página deste site possui uma licença de distribuição específica. Favor verificar, antes de compartilhar seu conteúdo. Em caso de dúvidas, entre em contato.

		comment-animation

	.white-gradient
	#animatedBGContainer(animated-bg)