#homeContainer
	// Links
	main-link(link-name="about")
	main-link(link-name="gallery")
	main-link(link-name="blog")
	main-link(link-name="portfolio")

	// Main title
	#page-title
		p.name.title-paragraph 
			|Amós 
			br
			|Batista
		p.license-info Cada página deste site possui uma licença de distribuição específica. Favor verificar, antes de compartilhar seu conteúdo. Em caso de dúvidas, entre em contato.

		// Dinamic comment display
		#codeCommentContainer.code-comment.comment-position-javascript
			|/*
			br
			|*/