#homeContainer
	// Links
	main-link(link-name="about", link-action="goToAboutPage()")
	main-link(link-name="gallery")
	main-link(link-name="blog" link-action="goToBlog()")
	main-link(link-name="portfolio", link-action="goToPortfolio()")

	// Main title
	#page-title
		p.name.title-paragraph 
			|Amós 
			br
			|Batista
		p.license-info Cada página deste site possui uma licença de distribuição específica. Favor verificar, antes de compartilhar seu conteúdo. Em caso de dúvidas, entre em contato.

		comment-animation

	.white-gradient
	#animatedBGContainer(animated-bg)