@import 'dragPageDirection.less';
@import '_main_swingAnimation.less';



#homeContainer{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
	
	.main-link{
		position: absolute;
		text-align: center;
		overflow: hidden;
		opacity: 1;
		transition: opacity 0.7s ease-in;
	}

	
	#linkAbout{
		top: 50px;
    	left: 80px;
	}
	
	
	#linkGallery{
		top: 90px;
    	right: 70px;
		display: flex;
		align-items: center;
	}

	#linkBlog{
		bottom: 70px;
		right: 50px;
	}

	#linkPortfolio{
		bottom: 70px;
    	left: 100px;
		display: flex;
		align-items: center;
	}



	

	.content{
		font-size: 50px;
		display: block;
	}

	#linkAbout .icon{
		/*float: left;*/
	}

	#linkPortfolio .content,
	#linkGallery .content{
		margin: 5px 10px 0 10px;
	}


	#page-title{
		max-width: 65%;
		position: absolute;
		top: 38%;
		left: 22%;
		/*margin: -60px 0px 0 -20%;*/
	}

	#page-title .license-info,
	#page-title .name{
		margin: 0 0 0 40px;
	}


	#page-title .name{
		font-size: 125px;
		line-height: 1;
	}

	#page-title .license-info{
		font-size: 45px;
		font-family: @fontFamily_Default;
	}

	#page-title .code-comment{
		font-size: 125px;
		color: green;
		position: absolute;
		font-family: @fontFamily_Titles;
		opacity: 0;
	}
	#page-title .comment-position-visual-basic{
		left: -50px;
		top: -8px;
		line-height: 1;
	}

	#page-title .comment-position-javascript{
		left: -107px;
		top: -242px;
		line-height: 3;
	}

	#page-title .show-comment-animated{
		animation: commentShow 1s ease-out 0.1s;
		opacity: 1;
	}



	

	

	/* Animation */
	@keyframes commentShow{
		0% {
			opacity: 0;
		}
		5% {
			opacity: 0.9;
		}
		10% {
			opacity: 0.1;
		}
		20% {
			opacity: 0.8;
		}
		30% {
			opacity: 0.2;
		}
		100% {
			opacity: 1;
		}
	}

	.home-fade-to-white{
		opacity: 0.3;
		transition: opacity 0.9s ease-out;
	}

	.white-gradient{
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: -moz-linear-gradient(left, rgba(255,255,255,1) 1%, rgba(255,255,255,1) 25%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(255,255,255,1) 1%,rgba(255,255,255,1) 25%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(255,255,255,1) 1%,rgba(255,255,255,1) 25%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
	}

	#animatedBGContainer{
		/*border: 1px solid black;*/
		position: absolute;
		z-index: -2;
		top: 0;
		right: 0;
		width: 75%;
		height: 100%;
		opacity: 0.9;
		
	}	
	

	.animatedBGContainer #animatedBG{

	}

	.icon{
		font-size: 50px;
	}


}
	


/* Desktop screen */
@media screen and (max-resolution: 1dppx) {

	#homeContainer{

		.content{
			font-size: 25px;
		}

		#linkAbout{
			top: 0px;
	    	left: 40px;
		}
		
		
		#linkGallery{
			top: 40px;
	    	right: 30px;
		}

		#linkBlog{
			bottom: 40px;
			right: 30px;
		}

		#linkPortfolio{
			bottom: 40px;
	    	left: 50px;
		}

		#page-title {

			.name{
				font-size: 75px;
			}

			.license-info{
				font-size: 20px;
			}

			.code-comment{
				font-size: 65px;
			}

			.comment-position-javascript{
				left: -37px;
    			top: -122px;
			}

			.comment-position-visual-basic{
				left: 0px;
			}
		}

		.icon{
			font-size: 25px;
		}

	}	
}