
.about-bg{
	background-color: hsl(142, 35%, 6%);
}

.about-page{

	.top-history{
		margin-top: 200px;

		position: relative;
		transform: translate(0%, 0%);

		.title,
		.content{
			color: white;
		}

		.title{
			font-family: @fontFamily_Titles;
			text-transform: uppercase;
			font-size: 30px;
			text-align: center;
			font-weight: 500;
			letter-spacing: -3px;

			&::first-letter{
				font-size: 110px;
			}
		}

		.content{
			max-width: 75%;
	    	margin: 0 auto;
	    	font-family: @fontFamily_Default;
	    	font-style: italic;
	    	font-size: 87%;


	    	&:before
	    	{
				font-size: 55px;
				content: '"';
				line-height: 3px;
			}

		}
	}

}





