//Left header
.header
	a.link-home.icon(ng-click="goHome()" href="")
		i.fa.fa-home
		span.title-paragraph
			|Main

	a.link-portfolio.icon(ng-click="goHome()" href="")
		i.fa.fa-arrow-left
		span.title-paragraph
			|Portfolio

	a.link-blog.icon(ng-click="goHome()" href="")
		i.fa.fa-arrow-down
		span.title-paragraph
			|Blog

	a.link-gallery.icon(ng-click="goHome()" href="")
		i.fa.fa-arrow-right
		span.title-paragraph
			|Gallery


// The content
.page-content(easy-scroll)

	.top-history(easy-scroll-top)
		h1.title
			|About

		p.content
			|A página é dividida em duas partes. Na primeira, você pode conhecer um pouco sobre a minha trajetória de vida. 
			br
			Na segunda parte, poderá ver mais detalhes sobre a construção desta página.


	// The first paragraph will hold a off-focus effect
	.page-content-subpart(easy-scroll-content)
		h2.title
			|Sobre o criador
		p.content
			|Sou um desenvolvedor Front-end, nasci e vivo na cidade de São Paulo. Comecei a minha carreira na Iron Mountain do Brasil, trabalhando em sistemas de gerenciamento de documentos. Depois disto, entrei na área de desenvolvimento de páginas web na Focus Media. Hoje, presto serviço na E-HTL, criando sistemas para empresas do ramo de Hotelaria. 
		p.content
			|Junto com a programação, a minha segunda motivação é a arte. Desenhista desde cedo, resolvi cair de cabeça na área e entrei no curso de desenho artístico no SESC Pompéia; sob a tutela de Claudinei ROberto, me aprofundei no desenho de observação. Também um grande fã de comics, participei do curso de História em Quadrinhos na Quanta Academia. Em 2000, iniciei a minha primeira história, The Ghostships.



	.page-content-subpart(easy-scroll-content)
		h2.title
			|Sobre a página
		p.content
			|A idéia principal da página é tentar unir estes dois perfis. Queria um espaço para exibir a minha experiẽncia e meus conhecimentos em desenvolvimento, e também para mostrar os meus trabalhos. A página está construída sob o framework Angular 1.4.
		



a.scroll-link(href="" easy-scroll-content-link)
	i.fa.fa-angle-double-down

//- a.scroll-link.scroll-up(href="" easy-scroll-top-link)
//-	i.fa.fa-angle-double-up