.gallery-tile
	a(ng-repeat="post in processedPostList" ui-sref='galleryPost({postName: post.postName})')
		div(dinamic-absolute dimensions="post.dimensions")
			.post-background(gallery-bg-insert image-url="post.mainImage" bg-class="post.class")
