div(my-header)

// The content
.page-content.gallery

	.gallery-post

		.photo-cover

			img.featured-img(ng-src="{{post.mainImage}}")
			
			h1.title
				|{{post.title}}

			p.excerpt
				|{{post.excerpt}}

div(my-footer is-fixed)