.gallery-post{
	width: 100%;

	.photo-cover{
		
		

		.featured-img{
			display: block;
		    max-width: 90%;
		    margin: 25px auto;
		    padding: 60px;
		    background-color: white;
			box-shadow: 0px 2px 1px 1px hsl(100, 0%, 50%);
		}
		
		.title{
			font-family: @fontFamily_Titles;
			font-size: 65%;
			text-align: center;
			font-weight: 500;
			color: hsl(100, 16%, 20%);
			margin: 50px 0 0 0;
		}

		.excerpt{
			font-family: @fontFamily_Default;
			font-size: 65%;
			text-align: center;
			font-weight: 500;
			color: hsl(100, 16%, 20%);
			margin: 10px 0;
		}
		
	}

}

@media screen and (orientation: landscape){
	
	.gallery-post{

		

		.photo-cover{

			.featured-img{
			}
		}
	}	
}