.gallery.page-content{
	padding: 0;

	.post-background{
		width: 100%;
		height: 100%;
		background-size: cover;
	    background-repeat: no-repeat;
	    background-position: center center;
	    border: 2px solid red;
	}
}