/*.gallery.page-content{
	padding: 0;

	.post-background{
		width: 100%;
		height: 100%;
		background-size: cover;
	    background-repeat: no-repeat;
	    background-position: center center;
	    position: relative;

	}

	.eucld-alg-hoverEffect{
		z-index: 1;
		transition: all 1.8s ease;

		&:hover {
			z-index: 50;
			box-shadow: 0px 0px 20px 8px hsl(100, 0%, 0%);
		}
	}

	/* Scale effects, when Euclidean Algorithm* /
	.scale-size-0{
		transform: none;

		&:hover {
			transform: scale(1.1, 1.1);
		}
			
	}

	.scale-size-1{
		transform: none;

		&:hover {
			transform: scale(1.1, 1.1);
		}
			
	}

	.scale-size-2{
		transform: none;

		&:hover {
			transform: scale(2, 2);
		}
			
	}

	.scale-size-3{
		transform: none;

		&:hover {
			transform: scale(2.5, 2.5);
		}
			
	}

	.scale-size-4{
		transform: none;

		&:hover {
			transform: scale(5, 5);		
		}
			
	}

	.scale-size-5{
		transform: none;

		&:hover {
			transform: scale(8, 8);
		}
			
	}

	.scale-size-6{
		transform: none;

		&:hover {
			transform: scale(15, 15);
		}
			
	}




}*/