// The content
.page-content.gallery-post

	.photo-cover

		h1.title
			|{{post.title}}

		img.featured-img(ng-src="{{post.mainImage}}")
		
		p.excerpt
			|{{post.excerpt}}

		// Sharer
		.sharer-zone
			share-buttons(share-options="shareOpt")


div(my-footer)