@import 'variables.less';
@import '../home/main.less';
@import '../about/main.less';


body{
	margin: 0;
	overflow: hidden;
}


.icon{
	line-height: 0px;
	display: inline-block;
	color: black;
	text-decoration: none;
}