@import 'variables.less';
@import 'mixin.less';
@import '../common/common.less';
@import '../home/main.less';
@import '../about/main.less';
@import '../portfolio/main.less';
@import '../blog/main.less';
@import '../gallery/main.less';

/* Body classes, to be user to the body directive */

body{
	font-size: 35px;
	margin: 0;
}
.body-home-page{
	overflow: hidden;
	background-color: hsl(123, 35%, 100%);
}


.body-about-page{
	overflow: auto;
	background-color: hsl(123, 35%, 5%);
}

.body-blog-page, .body-portfolio-page{
	overflow: auto;
}

.body-gallery-post-page{
	overflow: auto;
	background-color: hsl(123, 15%, 95%);
}

/* Default style of all links*/
a{
	text-decoration: none;
	color: inherit;
}

/* Styles*/
.icon{
	line-height: 0px;
	display: inline-block;
	color: black;
	text-decoration: none;
}

.title-paragraph{
	font-family: @fontFamily_Titles;
	text-transform: uppercase;
	color: black;
	text-decoration: none;
}