@fontFamily_Titles: 'Fjalla One', sans-serif;
@fontFamily_Default: 'Source Serif Pro', sans-serif;

/* For space in bottom, for the footer */
@footerHeight: 200px;
@footerHeight_Landscape: 150px;	

@headerHeight: 90px;
