@import 'animationScroll.less';

.header{
	position: fixed;
	width: 100%;
	height: @headerHeight;
	padding: 10px;
	top: 0;
	left: 0;
	background-color: hsl(142, 0%, 100%);
	margin: 0;
	z-index: 2;
	box-shadow: 10px 1px 6px 0px @corSombraHeaderFooter;

	.link-home,
	.link-portfolio,
	.link-blog,
	.link-gallery,
	.link-about
	{
		list-style: none;
		position: absolute;
		margin: 0 10px 0 0;
		font-size: 30px;

		.fa{
			margin: 0 10px 0 0;
		}

		.title-paragraph{
			font-family: @fontFamily_Titles;
			text-transform: uppercase;
			color: black;
			text-decoration: none;
			font-size: 15px;
		}
	}

	.link-home{
		top: 10px;
		left: 10px;
	}

	.link-portfolio,
	.link-about{
		bottom: 10px;
		left: 10px;
	}

	.link-blog{
		bottom: 10px;
		right: 20px;
	}

	.link-gallery{
		top: 10px;
		right: 20px;
	}

}


@media screen and (min-width: 475px){

	.header{
		height: auto;
		width: 98%;
		padding: 15px;

		.link-home,
		.link-portfolio,
		.link-blog,
		.link-gallery,
		.link-about{
			position: relative;
			float: right;
		}

		.link-home{
			top: initial;
			left: initial;
			float: left;
		}

		.link-portfolio{
			bottom: initial;
			left: initial;
		}

		.link-blog{
			bottom: initial;
			right: initial;
		}

		.link-gallery{
			top: initial;
			right: initial;
		}

		.link-about{
			bottom: initial;
    		left: initial;
		}



	}

	
}


@media screen and (orientation: landscape){

	.header{
		position: fixed;
		top: @topSpacing_Landscape;
		left: 0;
		width: 65px;
		box-shadow: 2px 2px 8px 0px @corSombraHeaderFooter;

		.link-home,
		.link-portfolio,
		.link-blog,
		.link-gallery,
		.link-about
		{
			float: none;
			width: 100%;
			text-align: center;
			margin: 0 0 10px 0;

			.fa{
				width: 100%;
				line-height: 50px;
				margin: 0;
			}
		}

		.link-home{
			margin: 0 0 35px 0;
		}
	}
}