@import 'animationScroll.less';

.header{
	position: fixed;
	width: 100%;
	/*height: @headerHeight;*/
	padding: 10px;
	top: 0;
	left: 0;
	background-color: hsl(142, 0%, 100%);
	margin: 0;
	z-index: 2;
	border-bottom: 4px solid @corSombraHeaderFooter;


	.link-home,
	.link-portfolio,
	.link-blog,
	.link-gallery,
	.link-about
	{
		
		margin: 0px 0 10px 0;
		font-size: 30px;
		float: left;
		clear: left;

		/* Move 2 of links to the right side*/
		&:nth-of-type(2),
		&:nth-of-type(4){
			float: right;
			clear: right;
			margin: 0px 20px 10px 0;
		}

		.fa{
			margin: 0 10px 0 0;
		}

		.title-paragraph{
			font-family: @fontFamily_Titles;
			text-transform: uppercase;
			color: black;
			text-decoration: none;
			font-size: 15px;
		}


	}


}


@media screen and (min-width: 475px){

	.header{
		width: 98%;
		padding: 15px;

	}

	
}


@media screen and (orientation: landscape){

	.header{
		position: fixed;
		top: 115px;
		left: 0;
		width: 65px;
		border-top: 1px solid @corBordaDiscreta_H_F;
		border-right: 1px solid @corBordaDiscreta_H_F;

		.link-home,
		.link-portfolio,
		.link-blog,
		.link-gallery,
		.link-about
		{
			float: none;
			clear: none;
			width: 100%;
			text-align: center;
			margin: 0 0 10px 0;

			/* Clear of selector style*/
			&:nth-of-type(2),
			&:nth-of-type(4){
				float: none;
				clear: none;
				margin: 0 0 10px 0;				
			}

			.fa{
				width: 100%;
				line-height: 50px;
				margin: 0;
			}
		}

		.link-home{
			margin: 0 0 35px 0;
		}
	}
}