@keyframes scrollTitle {
	0% {
		transform: translate(0%, 0%);
		opacity: 1;
	}

	100% {
		transform: translate(0%, -100%);
		opacity: 0.1;
	}
}

@keyframes scrollContent {
	0% {
		transform: translate(0%, 100%);
		opacity: 0.1;
	}

	100% {
		transform: translate(0%, 0%);
		opacity: 1;
	}
}


@keyframes scrollTitle_Rollbk {
	0% {
		transform: translate(0%, -100%);
		opacity: 0.1;
	}

	100% {
		transform: translate(0%, 0%);
		opacity: 1;
	}
}

@keyframes scrollContent_Rollbk {
	0% {
		transform: translate(0%, 0%);
		opacity: 1;
	}

	100% {
		transform: translate(0%, 100%);
		opacity: 0.1;
	}
}








.easy-scroll-title{
	animation: scrollTitle 0.5s ease;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	
}

.easy-scroll-content{
	animation: scrollContent 0.5s ease;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	
}

.easy-scroll-title-rollback{
	animation: scrollTitle_Rollbk 0.5s ease;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	
}

.easy-scroll-content-rollback{
	animation: scrollContent_Rollbk 0.5s ease;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}



/* Easy scroll link*/
@keyframes linkSwing {

    0% {
    	transform: translate(0px, 0px);
    	opacity: 1;
    }
    25% {
    	transform: translate(0px, -25px);
    	opacity: 0.25;
    }
    100% {
    	transform: translate(0px, 0px);
    	opacity: 1;
    }

}


@keyframes hideLink {
	0% {
		transform: translate(0%, 0%);
		opacity: 1;
	}

	100% {
		transform: translate(0%, 100%);
		opacity: 0;
	}
}

@keyframes showLink {
	0% {
		transform: translate(0%, 100%);
		opacity: 0;
	}

	100% {
		transform: translate(0%, 0%);
		opacity: 1;
	}
}



.easy-scroll-link{
	width: 100%;
	position: fixed;
	bottom: 20px;
	left: 0;
	text-align: center;
	color: white;
	font-size: 70px;
	animation: linkSwing 5s ease infinite 0.1s;
}



.easy-scroll-hide-link{
	animation: hideLink 0.5s ease;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.easy-scroll-show-link{
	animation: showLink 0.5s ease;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}