@keyframes scrollTitle {
	0% {
		transform: translate(0%, 0%);
		opacity: 1;
	}

	100% {
		transform: translate(0%, -50%);
		opacity: 0.1;
	}
}

@keyframes scrollContent {
	0% {
		transform: translate(0%, 50%);
		opacity: 0.1;
	}

	100% {
		transform: translate(0%, 0%);
		opacity: 1;
	}
}


@keyframes scrollTitle_Rollbk {
	0% {
		transform: translate(0%, -50%);
		opacity: 0.1;
	}

	100% {
		transform: translate(0%, 0%);
		opacity: 1;
	}
}

@keyframes scrollContent_Rollbk {
	0% {
		transform: translate(0%, 0%);
		opacity: 1;
	}

	100% {
		transform: translate(0%, 50%);
		opacity: 0.1;
	}
}








.easy-scroll-title{
	.mix-animation(scrollTitle);
}

.easy-scroll-content{
	.mix-animation(scrollContent);
}

.easy-scroll-title-rollback{
	.mix-animation(scrollTitle_Rollbk);
}

.easy-scroll-content-rollback{
	.mix-animation(scrollContent_Rollbk);	
}



/* Easy scroll link*/
@keyframes linkSwing {

    0% {
    	transform: translate(0px, 0px);
    	opacity: 1;
    }
    25% {
    	transform: translate(0px, -25px);
    	opacity: 0.25;
    }
    100% {
    	transform: translate(0px, 0px);
    	opacity: 1;
    }

}


@keyframes hideLink {
	0% {
		transform: translate(0%, 0%);
		opacity: 1;
	}

	100% {
		transform: translate(0%, 100%);
		opacity: 0;
	}
}

@keyframes showLink {
	0% {
		transform: translate(0%, 100%);
		opacity: 0;
	}

	100% {
		transform: translate(0%, 0%);
		opacity: 1;
	}
}



.easy-scroll-link{
	width: 100%;
	position: fixed;
	bottom: 20px;
	left: 0;
	text-align: center;
	color: white;
	font-size: 260%;
	animation: linkSwing 5s ease infinite 0.1s;
}



.easy-scroll-hide-link{
	.mix-animation(hideLink);	
}

.easy-scroll-show-link{
	.mix-animation(showLink);	
}

