doctype html
html(ng-app="site")
	head
		meta(charset="utf-8")
		title
			|Amós Batista

		script(src="main/env.js")
		script(src="main/app.js")


		link(href="main/style.css" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Source+Serif+Pro|Fjalla+One" rel="stylesheet")
		

	body
		.main-container
			ui-view
		
	

	

