doctype html
html(ng-app="site")

	head
		meta(charset="utf-8")

		// OG Meta tags (for sharing, like Facebook)
		meta(property="og:url" content="{{ogMetadata.url}}")
		meta(property="og:type" content="{{ogMetadata.type}}")
		meta(property="og:title" content="{{ogMetadata.title}}")
		meta(property="og:description" content="{{ogMetadata.description}}")
		meta(property="og:image" content="{{ogMetadata.image}}")
		
		title
			|Amós Batista

		script(src="main/env.js")
		script(src="main/app.js")


		link(href="main/style.css" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Source+Serif+Pro|Fjalla+One" rel="stylesheet")
		

	body
		main-container
			ui-view
		load-screen

		
	

	

