doctype html
html(ng-app="site")

	head
		meta(charset="utf-8")

		// OG Meta tags (for sharing, like Facebook)
		//- meta(property="og:url" content="http://amosbatista.com/#!/home")
		//- meta(property="og:title" content="amosbatista.com")
		//- meta(property="og:description" content="Bem vindo ao meu site. Meu blog, portfolio e galeria de arte em um só lugar.")
		//- meta(property="og:image" content="http://amosbatista.com/img/print-home.jpg")
		
		title
			|Amós Batista

		script(src="main/env.js")
		script(src="main/app.js")


		link(href="main/style.css" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Source+Serif+Pro|Fjalla+One" rel="stylesheet")
		

	body
		main-container
			ui-view
		load-screen

		
	

	

