/* Space between top and header (only Landscape)*/
@topSpacing_Landscape: 115px;

.page-content{
	width: 100%;
	position: relative;
	margin:	0 0 250px 0;
}


@media screen and (orientation: landscape){

	.page-content{
		width: 90%;
		float: right;
		/*border: 1px solid white;*/

	}
}