/* Space between top and header (only Landscape)*/
@topSpacing_Landscape: 115px;

.page-content{
	width: 100%;
	position: relative;
	margin:	110px 0 350px 0;
	z-index: 0;

	.page-content-subpart{

		width: 80%;
		margin: auto;

		/* Set as page transition*/
		opacity: 0.1;
		transform: translate(0%, 100%);
		
		.title,
		.content{
			color: white;
		}

		.title{
			font-family: @fontFamily_Titles;
			text-transform: uppercase;
			font-size: 20px;
			text-align: left;
			font-weight: 500;
			letter-spacing: -1px;

			&::first-letter{
				font-size: 30px;
			}

		}
		.content{
			text-indent: 20px;
		}
	}
}


@media screen and (orientation: landscape){

	.page-content{
		width: 90%;
		float: right;
		margin:	0px 0 250px 0;
		/*border: 1px solid white;*/


		.page-content-subpart{
			width: 60%;
		}	

	}
}