/* Space between top and header (only Landscape)*/
@topSpacing_Landscape: 115px;

.page-content{
	width: 100%;
	position: relative;
}


@media screen and (orientation: landscape){

	.page-content{
		width: 90%;
		float: right;
		margin:	0 0 100px 0;
		/*border: 1px solid white;*/

	}
}